<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.DeptMapper">
    <select id="queryAll" resultType="org.example.api.entity.Dept">
        SELECT * FROM dept
    </select>

    <select id="queryById" resultType="org.example.api.entity.Dept" parameterType="long">
        select * from dept where dept_id = #{id}
    </select>

    <insert id="addDept" parameterType="org.example.api.entity.Dept">
        insert into dept(dept_name, db_source) values (#{deptName}, database())
    </insert>
</mapper>